.imgCardCont{
    width: 150px;
}

.itemImg{
    width: 150px;
}

.screenWidth{
    width: 75vw;
    flex-wrap: wrap;
}

.pageButtonSize{
    width: 150px;
    margin-top: 50px;
}

.pageButtonFont{
    color: black
}